.widget_1530487643128 {
  position: relative;
  background: -o-linear-gradient(315deg, #104b61 0%, #14aae0 100%);
  background: linear-gradient(135deg, #104b61 0%, #14aae0 100%);
  overflow: hidden;
}

.widget_1530487643128.sr-cover-parallax {
  min-height: 445px;
}

.widget_1530487643128 .sr-cover-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sr-cover-inner {
  margin: 0 auto;
}

.sr-cover-inner h1,
.sr-cover-inner h2,
.sr-cover-inner h3,
.sr-cover-inner h4,
.sr-cover-inner h5,
.sr-cover-inner h6 {
  color: inherit;
}

.sr-cover-parallax {
  background-color: #000;
}

.sr-cover-parallax .overlay-none {
  opacity: 1;
}

.sr-cover-parallax .overlay-light {
  opacity: 0.75;
}

.sr-cover-parallax .overlay-medium {
  opacity: 0.5;
}

.sr-cover-parallax .overlay-dark {
  opacity: 0.25;
}

.sr-cover-parallax .height-auto {
  min-height: 0vh;
}

.sr-cover-parallax .height-15 {
  min-height: 15vh;
}

.sr-cover-parallax .height-25 {
  min-height: 25vh;
}

.sr-cover-parallax .height-50 {
  min-height: 50vh;
}

.sr-cover-parallax .height-75 {
  min-height: 75vh;
}

.sr-cover-parallax .height-100 {
  min-height: 100vh;
}

.responsive-video {
  height: 0;
  padding: 0 0 56.25%;
  position: relative;
}

.responsive-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sr-multicol-media {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.sr-multicol-media.sr-height-100 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sr-multicol-media.sr-height-100 {
    height: 100vh;
  }
}

.sr-multicol-media.sr-height-100 .container {
  margin: auto;
}

.sr-multicol-media .section-heading {
  margin: 0 0 1.25rem;
  padding: 0;
}

.sr-multicol-media .section-description {
  margin: 0 0 1.25rem;
  padding: 0;
}

.sr-multicol-media .responsive-image,
.sr-multicol-media .responsive-video {
  margin: 0 0 1.25rem;
}

.sr-multicol-media .responsive-image img {
  max-width: 100%;
  height: auto;
}

.sr-multicol-media .col-subheading {
  font-size: 1rem;
  margin: 0 0 0.625rem;
  padding: 0;
  text-transform: uppercase;
}

.sr-multicol-media .col-heading {
  margin: 0 0 1.25rem;
  padding: 0;
}

.sr-multicol-media .form-group {
  padding: 1.25rem 0 0;
}

.sr-multicol-media.sr-bg-image .sr-col {
  padding: 6.25rem 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.sr-multicol-media.sr-bg-image .sr-col .col-heading,
.sr-multicol-media.sr-bg-image .sr-col .col-subheading,
.sr-multicol-media.sr-bg-image .sr-col .col-content {
  color: inherit;
}

.sr-multicol-media.sr-bg-image .sr-col .col-heading {
  margin: 0 0 3.125rem;
}

.sr-multicol-media.sr-bg-image .sr-col .form-control {
  padding: 3.125rem 0 0;
}

.sr-multicol-media.sr-bg-image .sr-col::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.sr-multicol-media.sr-bg-image .sr-col.sr-opacity-100::before {
  opacity: 1;
}

.sr-multicol-media.sr-bg-image .sr-col.sr-opacity-75::before {
  opacity: 0.75;
}

.sr-multicol-media.sr-bg-image .sr-col.sr-opacity-50::before {
  opacity: 0.5;
}

.sr-multicol-media.sr-bg-image .sr-col.sr-opacity-25::before {
  opacity: 0.25;
}

.sr-multicol-media.sr-bg-image .sr-col.sr-opacity-00::before {
  opacity: 0;
}

.sr-multicol-media.sr-bg-image .sr-col .content-wrapper {
  position: relative;
  z-index: 2;
}

/*Widget 
===========================*/

.sr-multicol-media.widget_1531170390319 .sr-repeater-1::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_5847465641 .sr-repeater-1::before {
  background-color: rgba(0, 0, 1, 100%);
}

.sr-multicol-media.widget_5847465641 .sr-repeater-2::before {
  background-color: rgba(0, 0, 1, 100%);
}

.sr-multicol-media.widget_5847465641 .sr-repeater-3::before {
  background-color: rgba(0, 0, 1, 100%);
}

.widget_1528255188680.sr-cover-parallax {
  position: relative;
  background: #14a9e0;
}

.widget_1528255188680 .sr-cover-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sr-multicol-media.widget_1534841856034 .sr-repeater-1::before {
  background-color: rgba(0, 0, 0, 100%);
}

.sr-multicol-media.widget_1531174867095 .sr-repeater-1::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_5847465644 .sr-repeater-1::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_5847465644 .sr-repeater-2::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_5847465644 .sr-repeater-3::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_1530487943516 .sr-repeater-1::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_1530487943516 .sr-repeater-2::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_1532646140247 .sr-repeater-1::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_1532646140247 .sr-repeater-2::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_1528256076639 .sr-repeater-1::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_1528256076639 .sr-repeater-2::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_1528256076639 .sr-repeater-3::before {
  background-color: rgba(#null, %);
}

.sr-multicol-media.widget_1528256321734 .sr-repeater-1::before {
  background-color: rgba(0, 0, 0, 100%);
}

.sr-multicol-media.widget_1528256321734 .sr-repeater-2::before {
  background-color: rgba(0, 0, 0, 100%);
}
